@model IEnumerable<ApplicationUser>

<form class="form-inline mt-2 mt-md-0" style="width:100%; max-width:330px; padding:15px; margin: auto" method="get">
    <input class="form-control mr-sm-2 text-center" type="text" name="searchParameter" placeholder="username" aria-label="Search" />
    <button type="submit" asp-action="ListHouseHelps" asp-controller="Admin" class="btn btn-outline-success my-2 my-sm-0">
        <img src="/images/search.svg" alt="" />
    </button>
</form>

<div class="container">
    <h1 class="h3 mb-3 font-weight-normal text-center">List of HouseHelps</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Profile Picture</th>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="6" class="text-center alert-info">No Users in the database</td>
                </tr>
            }
            else
            {
                @foreach (ApplicationUser user in Model)
                {
                    <tr>
                        @if (user.ProfilePicture == null)
                        {
                            <td class="text-center"><img src="/images/profile-pic.png" alt="" class="rounded-circle" width="40" height="40" /></td>
                        }
                        else
                        {
                            <td class="text-center"><img src="@String.Format("data:image/jpg;base64, {0}", Convert.ToBase64String(user.ProfilePicture))" alt="" class="rounded-circle" width="40" height="40" /></td>
                        }
                        <td>@user.UserName</td>
                        <td>@user.Name</td>
                        <td>@user.Email</td>
                        <td>@user.Description</td>
                        <td>
                            <form asp-action="Delete" asp-controller="Admin" asp-route-id="@user.Id" method="post">
                                <button type="submit" class="btn btn-sm btn-outline-danger">Delete Account</button>
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>