@model IEnumerable<ApplicationUser>

<div class="container">
    <h1 class="h3 mb-3 font-weight-normal text-center">List of Administrators</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="text-align:right">ID</th>
                <th>Profile Picture</th>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="6" class="text-center alert-info">No Administrator Users</td>
                </tr>
            }
            else
            {
                @foreach (ApplicationUser user in Model)
                {
                    <tr>
                        <td style="text-align:right">@user.Id</td>
                        @if (user.ProfilePicture == null)
                        {
                            <td class="text-center"><img src="/images/profile-pic.png" alt="" class="rounded-circle" width="40" height="40" /></td>
                        }
                        else
                        {
                            <td class="text-center"><img src="@String.Format("data:image/jpg;base64, {0}", Convert.ToBase64String(user.ProfilePicture))" alt="" class="rounded-circle" width="40" height="40" /></td>
                        }
                        <td>@user.UserName</td>
                        <td>@user.Name</td>
                        <td>@user.Email</td>
                        <td>
                            <form asp-action="Delete" asp-controller="Admin" asp-route-id="@user.Id" method="post">
                                <button type="submit" class="btn btn-sm btn-outline-danger">Delete Account</button>
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>